/* Port-specific brand colors */
:root {
    --port-blue: rgb(0,78,152);
    --port-light-blue: rgb(0,163,201);
}
.bg-primary, .nav-link.active {
    background-color: var(--port-light-blue)!important;
}
.btn-primary, .form-check-input:checked {
    background-color: var(--port-light-blue)!important;
    border-color: var(--port-light-blue)!important;
    color: white!important;
}
a {
    color: var(--port-light-blue)!important;
}
.nav-link:not(.active, .disabled) {
    color: var(--port-blue)!important;
}

.thumbnailCanvas {
    border: 2px solid black;
    height: 400px;
    width: 600px;
}
/* Instructions accordion */
/* - Change default accordion background & text color */
.accordion-button, .accordion-button:not(.collapsed) {
    color: white;
    background-color: var(--port-blue);
    border: 0px;
}
/* - Change default accordion border radius when collapsed */
.accordion-button.collapsed {
    border-bottom-right-radius: var(--bs-border-radius-lg) !important;
    border-bottom-left-radius: var(--bs-border-radius-lg) !important;
}
/* - Change accordion arrow color */
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
}
/* - Change instruction info icon */
.instructionsIcon {
    margin-top: 0.15em;
}
/* Fixed size for the output image */
.canvas-width {
    width: 600px;
}
.canvas-height {
    height: 400px;
}
/* Utility class for canvas container height */
.min-canvas-height {
    min-height: 400px;
}
/* Bootstrap icon formatting */
.bi {
    width: 1em;
    height: 1em;
    display: inline-block;
}
/* The card itself */
.thumbnailGenCard {
    min-height: 500px;
}
/* Max height, resizability for search results */
.searchResults {
    height: 12rem;
    resize: vertical;
}
/* Width for sort controls popup */
#searchSortControls {
    min-width: 20em;
}
/* Width utility classes for search results */
.w-70 {
    width: 70%;
}
.w-60 {
    width: 60%;
}
.w-40 {
    width: 40%;
}
.w-30 {
    width: 30%;
}